﻿@model CS.Security.IDS.Controllers.UserRegistration.RegisterUserViewModel

<div class="user-registration-page">
    <div class="page-header">
        <h1>User Registration</h1>
    </div>
    @Html.Partial("_ValidationSummary")
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Registration</h3>
                </div>
                <div class="panel-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="Password"
                                       asp-for="Password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input class="form-control" placeholder="FirstName" asp-for="FirstName">
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input class="form-control" placeholder="LastName" asp-for="LastName">
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email" asp-for="Email">
                            </div>
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input class="form-control" placeholder="Address" asp-for="Address">
                            </div>
                            <div class="form-group">
                                <label asp-for="Country"></label>
                                <select class="form-control" asp-for="Country" asp-items="@Model.CountryCodes"></select>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
